{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Chat Rooms{% endblock title %}
{% block content %}

    <h3>Куда хочешь попасть, друг?</h3>
    <h2>Чаты</h2>
    <div class="row">
        <div>
            <select name="" id="select-room">
                {% for chats in user_chats %}
                <option value="{{chats.slug}}">{{chats.chat_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input id="room-name-submit" type="button" value="Перейти">
        </div>
    </div>
    <h2>Или создашь свой?</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Создать" button_type="submit" button_class="btn-primary" %}
    </form>
    <h4 class="text-danger">{{message}}</h4>

<script>
    document.querySelector('#room-name-submit').onclick = function (e) {
        var roomName = document.querySelector('#select-room').value;
        console.log('roomName', roomName)
        if (roomName != '')
            window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
{% endblock content %}