{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Chat Rooms{% endblock title %}
{% block content %}
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
<h3>Функционал чата {{user.username}}</h3>
<div>
    <h4>Пригласить людей</h4>
    <div>
        <input type="text" placeholder="username пользователя" >
        <button>Добавить</button>
    </div>
    
    <h4>Удалить людей </h4>
    <div>

        <select name="" id="">
            {% for u in users %}
            {% if u.username != user.username %}
            <option value="{{u.pk}}">{{u.username}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <button>Удалить из чата</button>
    </div>
    <h4>Покинуть чат</h4>
</div>
{{ room_name|json_script:"room-name" }}
{{ user.username|json_script:"user-name" }}
<script>
    // Хз для чего textContent, но без него не прасит
    const roomName = JSON.parse(document.getElementById('room-name')
        .textContent);
    const username = JSON.parse(document.getElementById('user-name')
        .textContent)

    // тут подключаемся  к вебсокету которые обрабаоытвает consumers.py
    const chatSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/chat/' +
        roomName +
        '/'
    );


    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message +
            '\n');
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    // Если пользователь нажал отправить сообщение, то отправляет json по web-socket
    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector(
            '#chat-message-input');
        const message = messageInputDom.value;
        ansver = JSON.stringify({
            'message': message,
            'username': username
        })
        chatSocket.send(ansver);
        messageInputDom.value = '';
    };
</script>

{% endblock content %}